
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300,500,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Subli Chrismas</title>
   

</head>
<body>

<header>   
    <div class="header-global">
        <div class="contain -logo">
        <a href="/">
        <i class="fab fa-angrycreative"></i></a>  
    </div>
    <div class="barra-de-busqueda">
     <input type="text" placeholder="Buscar productos, marcas y más..."><i class="fas fa-search"></i>
    </div>

    <p class="copy">Shipping to the whole planet <i class="fas fa-plane"></i></p>
</div>
 <nav class="header">
   <ul class="navbar-left">
      <li><a href=""> Ofertas </a></li>
      <li><a href=""> Tiendas Oficiales </a></li>
      <li><a href=""> Vender </a></li>
      <li><a href=""> Ayuda </a></li>    
   </ul>

   <ul class="navbar-right">
      <li><a href="/register"> Creá tu cuenta <i class="fas fa-users"></i></a></li>
      <li><a href="/login"> Ingresá  <i class="fas fa-fingerprint"></i></a></li>
      <li><a href="/"> Carrito <i class="fas fa-shopping-cart"></i></i></a></li>
   </ul>
</nav>

<div class="menu">
    <i class="fas fa-bars"></i>
    </div>
</header>
<section class="banner">
    <img src="/images/banner.jpg" alt="Banner">
</section>
<main>
    <div class="products">
    <h3>Basado en tu última visita</h3>
    <section class="last-visit">
    <article>
        <img src="/images/taza-oso-chrismas.jpg" alt="taza-oso-chrismas">    
        <div class="main-article"><i class="fas fa-truck"></i>
        <p class="price">$999</p>
        <p class="discount">40% OFF</p> 
        <h4 class="description">Christmas Bear Mug</h4>     
    </div> 
    </article> 
        
    <article>
        <img src="/images/chrismas-cool-unicorn.jpg" alt="chrismas-cool-unicorn">
        <div class="main-article"><i class="fas fa-truck"></i>
        <p class="price">$999</p>
        <p class="discount">20% off</p>
        <h4 class="description">Cool Unicorn Chrismas</h4>
    </div>
    </article> 

    <article>
        <img src="/images/chrismas-body-baby.jpg" alt="chrismas-body-baby">
        <div class="main-article"><i class="fas fa-truck"></i>
        <p class="price">$999</p>
        <p class="discount">10% off</p>
        <h4 class="description">Chrismas Body Baby</h4>
    </div>
    </article> 
   
    <article>
        <img src="/images/chrismas-pants.jpg" alt="chrismas-pants-women">
        <div class="main-article"><i class="fas fa-truck"></i>
        <p class="price">$999</p>
        <p class="discount">5% off</p> 
         <h4 class="description">Pants Woman Chrismas</h4>
        </div>
        </article>
</section>

<h3>Ofertas</h3>
<section class="offers">
                <article>
                 <img src="/images/baby-body-chrismas.jpg" alt="baby-body-chrismas">
                 <div class="main-article"><i class="fas fa-truck"></i>
                 <p class="price">$300</p>
                 <p class="discount">40% OFF</p>
                 <h4 class="description">Body Baby Chrismas</h4>      
                </div>
                </article> 
            
             <article>
                 <img src="/images/hat-chrismas.jpg" alt="hat-chrismas">
                 <div class="main-article"><i class="fas fa-truck"></i>
                 <p class="price">>$300</p>
                 <p class="discount">20% off</p>
                 <h4 class="description">Hat Chrismas</h4>
                </div>
                </article> 
    
              <article>
                 <img src="/images/sweater-chrismas.jpg" alt="sweater-chrismas">
                 <div class="main-article"><i class="fas fa-truck"></i>
                 <p class="price">$300</p>
                 <p class="discount">10% off</p>
                  <h4 class="description">Sweater Chrismas</h4>
                </div>
                </article> 
       
              <article>
                  <img src="/images/taza-cafe-red.jpg" alt="taza-cafe-red">
                  <div class="main-article"><i class="fas fa-truck"></i>
                  <p class="price">$300</p>
                  <p class="discount">5% off</p>
                  <h4 class="description">Cup of Coffee Red</h4>
                </div>
                </article>

</section>
</div>
</main>
<footer>
     <article class="art-footer">
        <i class="fas fa-dollar-sign"></i>
    <h4> Pagá con tarjeta o en efectivo</h4>
    <p class="text"> En Subli, aceptamos todos los medios de pago por el mismo valor $$$.</p>
     </article>
    
     <article class="art-footer">
        <i class="fas fa-gift"></i>
    <h4> ¡Sorteo millonario!</h4>
    <p class="text"> Solo por estar registrad@ en Subli participás por un sorteo anual de $1.000.000</p>
     </article>
   
    <article class="art-footer">
        <i class="far fa-handshake"></i>
    <h4> Seguridad de principio a fin </h4></li>
    <p class="text"> ¿No te gusta? ¡Devolvelo! En Subli, la prioridad siempre es la satisfacción de nuestros clientes.</p>
    </article>
    
        <p class="text">Copyright © 1999-2021 Subli S.R.L.</p>

</footer>

</body>
    
</html> -->